.flex-row {
  display: flex;
  flex-direction: row;
}

.align-items {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.container {
  margin-top: 50px;
}

.login-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-link {
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.login-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
